pkgbase = kicad-test
	pkgdesc = Electronic schematic and printed circuit board (PCB) design tools
	pkgver = r20303.e10025db64
	pkgrel = 2
	url = http://kicad-pcb.org/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = cmake
	makedepends = glm
	makedepends = zlib
	makedepends = mesa
	makedepends = boost
	makedepends = swig
	depends = wxgtk3
	depends = python
	depends = boost-libs
	depends = glew
	depends = curl
	depends = ngspice
	depends = opencascade
	depends = python-wxpython
	optdepends = kicad-library: for footprints and symbols
	optdepends = kicad-library-3d: for 3d models of components
	provides = kicad
	conflicts = kicad
	conflicts = kicad-bzr
	replaces = kicad-i18n-test
	source = kicad-test::git+https://gitlab.com/rockola/kicad.git
	md5sums = SKIP

pkgname = kicad-test

