pkgbase = kicad-test
	pkgdesc = Electronic schematic and printed circuit board (PCB) design tools
	pkgver = 5.99.0.r10107.ga8896ebd73
	pkgrel = 1
	url = http://kicad-pcb.org/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = cmake
	makedepends = glm
	makedepends = zlib
	makedepends = mesa
	makedepends = boost
	makedepends = swig
	makedepends = ninja
	depends = wxgtk3
	depends = python
	depends = desktop-file-utils
	depends = boost-libs
	depends = glew
	depends = curl
	depends = ngspice
	depends = opencascade
	depends = python-wxpython
	depends = doxygen
	depends = freetype2
	depends = ngspice>=27
	depends = swig
	optdepends = kicad-library: for footprints and symbols
	optdepends = kicad-library-3d: for 3d models of components
	provides = kicad
	conflicts = kicad
	conflicts = kicad-bzr
	conflicts = kicad-git
	source = kicad-test::git+https://gitlab.com/kicad/code/kicad.git
	source = kicad-test.env
	md5sums = SKIP
	md5sums = SKIP

pkgname = kicad-test

